-
  var news = {
    "sections": [
      {
        "img": "/img/new-coffee/img-1.jpg",
        "imgAltText": "Hausbrandt",
        "paragraphs": [
          "Представляем вашему вниманию кофе без кофеина итальянского бренда <span class='bold'>Hausbrandt</span>."
        ]
      },
      {
        "paragraphs": [
          "Тысячи кофеен и ресторанов и миллионы любителей кофе считают HAUSBRANDT одной из лучших марок этого напитка. Теперь и вы можете купить элитный кофе в интернет-магазине <a href='https://911office.ru/' class='bold' target='_blank'>911office.ru</a> по доступным ценам. Здесь вы найдете кофейные сорта на любой, даже самый взыскательный вкус: зерна привозят на фабрику из разных уголков мира: Кении, Центральной Америки, Бразилии, Ямайки, Мексики, где их бережно обрабатывают, создавая уникальные изысканные купажи с неповторимыми вкусами."
        ]
      },
      {
        "paragraphs": [
          "Caffè HAUSBRANDT - детище одной из старейших компаний Италии, основанной более 120 лет назад. Из года в год продукция компании занимает призовые места на самых престижных мировых состязаниях. Сегодня под маркой HAUSBRANDT выпускается множество уникальных кофейных смесей с разными оттенками вкуса и аромата, с разной крепостью и бодрящими свойствами. Можно купить продукцию для любого способа приготовления: от традиционной варки до ультрасовременных кофемашин."
        ]
      },
      {
        "img": "/img/new-coffee/img-2.jpg",
        "imgAltText": "Hausbrandt",
        "paragraphs": [
          "<span class='bold'>Кофе в чалдах Hausbrandt Decaffeinato (Hausbrandt без кофеина)</span>",
          "<span class='bold'>Сорт кофе</span> – Без кофеина",
          "<span class='bold'>Описание</span> – Смесь жареного молотого кофе без кофеина в чалдах. 72 одноразовые чалды, упакованные по отдельности в защитной атмосфере. Благодаря специальной обработке зеленого кофейного зерна содержание вещества кофеин снижено до 0,01%. Кофе мягкий, сбалансированный с оттенками сухофруктов. Этот кофе можно пить даже вечером.",
          "<span class='bold'>Тип кофе</span> – Чалды",
          "<span class='bold'>Состав кофе</span> – 100% Арабика",
          "<span class='bold'>Упаковка кофе</span> – Картонная упаковка",
          "<span class='bold'>Страна производства</span> – Италия"
        ]
      }
    ]
  }

.article
  .container
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/news-mark
