-
  var news = {
    "title": "Почему это так выгодно?",
    "img": "/img/article/article-main-img.jpg",
    "sections": [
      {
        "img": "/img/article/article-img-2.jpg",
        "imgAltText": "Кофемашина",
        "paragraphs": [
          "Покупка хорошей кофемашины может обойтись в солидную денежную сумму. Аренда оборудования значительно дешевле, при этом включает бесплатное обслуживание в каждый тариф. Вам не придется тратить время на изучение тонкостей, связанных с эксплуатацией аппарата. Ежемесячно к вам будет приезжать специалист и осуществлять чистку, декальцинацию и другие процедуры для того, чтобы поддерживать работу кофемашины в стабильном состоянии."
        ]
      },
      {
        "paragraphs": [
          "Мы устанавливаем только качественное профессиональное оборудование, так как наша цель – обеспечить клиентов максимальным комфортом. Если аппарат выйдет из строя, то в кратчайшее время наша компания заменит его новым.",
          "В случае, если вы купите кофемашину, то обслуживанием аппарата вам придется заниматься самостоятельно. На изучение всех тонкостей кофемашины может уйти немало времени. Для многих коммерческих компаний этот фактор является критичным, так как придется тратить время сотрудников не на осуществление рабочих задач, а на тонкости взаимодействия с кофейным аппаратом."
        ]
      }
    ]
  }

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/article-mark
