doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="format-direction", content="telephone=no")
    link(rel="icon", href="img/favicon-16.png", type="image/png")
    link(rel="icon", href="img/favicon-32.png", type="image/png")
    link(rel="icon", href="img/favicon-96.png", type="image/png")
    title 911 office - Снабжение офисов. Аренда кофемашины бесплатно. Доставка кофе, воды, еды и канцелярских товаров в офис
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="911office.ru - Снабжение офисов")
    meta(property="og:title", content="Аренда кофемашины бесплатно при покупке кофе. Доставка воды, еды и канцелярских товаров в офис.")
    meta(property="og:description", content="Снабжение офисов под ключ. Бесплатная аренда кофемашины. Доставка кофе, воды, еды и канцелярских товаров")
    meta(property="og:url", content="https://911office.ru/")
    meta(property="og:locale", content="ru_RU")
    meta(property="og:image", content="https://911office.ru/img/logo.svg")
    meta(name="keywords", content="кофемашина в офис, кофемашина аренда, кофе машина в офис, кофе машина аренда, доставка кофе, кофе в офис, кофемашина бесплатно, аренда кофемашин в питере, еда в офис, снеки в офис, вода в офис, доставка воды в офис, канцелярские товары в офис")
    meta(name="viewport", content="width=device-width, height=device-height")
    link(href="https://fonts.googleapis.com/css?family=Rubik:400,500,700", rel="stylesheet")
    block links
    link(rel="stylesheet", type="text/css", href="/css/main.css")
      
  block variables 
  body(class = bodyClass ? bodyClass : "")
    include ../components/header
    include ../components/call-btn
    include ../components/call-modal
    if btnUp
      include ../components/btn-up
    main
      block content
      #vk_community_messages
    include ../components/footer
    script(type="text/javascript").
      (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter49624201 = new Ya.Metrika2({
              id: 49624201,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              webvisor: true
            });
          } catch (e) {}
        });

        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function() {
            n.parentNode.insertBefore(s, n);
          };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks2");
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-103311594-2', 'auto');
      ga('send', 'pageview');
    script(type="text/javascript", src="https://vk.com/js/api/openapi.js?159")
    script(type="text/javascript").
      VK.Widgets.Group("vk_groups", {mode: 4, width: 'auto', height: '400'}, 86720983);
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/js/main.min.js")
