-
  var news = {
    "title": "Кофемашина в офис — оптимальный вариант для вашей компании",
    "img": "/img/article/article-main-img.jpg",
    "sections": [
      {
        "img": "/img/article/article-img-1.jpg",
        "imgAltText": "Кофейные зерна",
        "paragraphs": [
          "Кофемашина в офис – это хорошее решение для коммерческих компаний, желающих чтобы их сотрудники и клиенты чувствовали себя бодро и уверенно в течение всего рабочего дня. И при этом совершенно необязательно покупать дорогостоящее оборудование. Наша компания даёт возможность взять кофемашину в аренду бесплатно и на выгодных условиях.",
          "911office предлагает платить только за кофе. От вас достаточно одного – позвонить нам, прислать реквизиты организации. Наш специалист составит договор, и мы пришлем его на вашу почту для согласования и созвонимся с вами.",
          "Это оптимальный вариант для небольших офисов и коммерческих компаний, угощающих своих клиентов и сотрудников кофе."
        ]
      },
      {
        "title": "Аренда профессиональной кофемашины.<br />Почему это так выгодно?",
        "paragraphs": [
          "Покупка хорошей кофемашины может обойтись в солидную денежную сумму. Аренда оборудования значительно дешевле. При этом 911office включает бесплатное обслуживание в каждый тариф. Вам не придется тратить время на изучение тонкостей, связанных с эксплуатацией аппарата. Ежемесячно к вам будет приезжать специалист и осуществлять чистку, декальцинацию и другие процедуры для того, чтобы поддерживать работу кофемашины в стабильном состоянии."
        ]
      },
      {
        "img": "/img/article/article-img-2.jpg",
        "imgAltText": "Кофемашина",
        "paragraphs": [
          "911office устанавливает только качественное профессиональное оборудование, так как наша цель – обеспечить клиентов максимальным комфортом. Если аппарат выйдет из строя, то в кратчайшее время наша компания заменит его новым.",
          "В случае, если вы купите кофемашину, то обслуживанием аппарата вам придется заниматься самостоятельно. На изучение всех тонкостей кофемашины может уйти немало времени. Для многих коммерческих компаний этот фактор является критичным, так как придется тратить время сотрудников не на осуществление рабочих задач, а на тонкости взаимодействия с кофейным аппаратом."
        ]
      },
      {
        "title": "Кофе в офис – как осуществляется услуга?",
        "paragraphs": [
          "Клиент выбирает аппарат и кофе. Указывает необходимый объем в калькуляторе. Подбирает тариф, который устраивает его. Добавляет заказ в корзину и отправляет его нам;",
          "Менеджер компании делает звонок клиенту для того, чтобы подтвердить намерения потенциального заказчика. Ему можно задать любые вопросы – специалист даст грамотную консультацию;"
        ]
      }
    ]
  }

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/news-mark
