-
  var news = {
    "title": "Кофе в офис - как осуществляется услуга?",
    "img": "/img/article/article-main-img.jpg",
    "sections": [
      {
        "paragraphs": [
          "Клиент выбирает аппарат и кофе. Указывает необходимый объем в калькуляторе. Подбирает тариф, который устраивает его. Добавляет заказ в корзину и отправляет его нам.",
          "Менеджер компании делает звонок клиенту для того, чтобы подтвердить намерения потенциального заказчика. Ему можно задать любые вопросы – специалист даст грамотную консультацию.",
          "После завершения переговоров, в назначенное время, в офис клиента приезжает специалист нашей компании. Он устанавливает кофемашину и дает инструкции по использованию. В дальнейшем он будет посещать офис клиента каждый месяц для осуществления сервисного обслуживания и решения любых вопросов, связанных с функционированием аппарата."
        ]
      }
    ]
  }

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/article-mark
