-
  var news = {
    "title": "Кофемашина в офис — оптимальный вариант для вашей компании.",
    "img": "/img/article/article-main-img.jpg",
    "sections": [
      {
        "img": "/img/article/article-img-1.jpg",
        "imgAltText": "Кофейные зерна",
        "paragraphs": [
          "Кофемашина в офис – это хорошее решение для коммерческих компаний, желающих чтобы их сотрудники и клиенты чувствовали себя бодро и уверенно в течение всего рабочего дня. И при этом совершенно необязательно покупать дорогостоящее оборудование. Наша компания даёт возможность взять кофемашину в аренду бесплатно и на выгодных условиях.",
          "Мы предлагаем платить только за кофе. От вас достаточно одного – позвонить нам, прислать реквизиты организации. Наш специалист составит договор, и мы пришлем его на вашу почту для согласования и созвонимся с вами.",
          "Это оптимальный вариант для небольших офисов и коммерческих компаний, угощающих своих клиентов и сотрудников кофе."
        ]
      }
    ]
  }

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/article-mark
