-
  var sectionName = "продукты";
  var sectionTitle = "Для здорового труда";
  var products = [
    {
      "title": "Полезная вода",
      "text": "Каждый из нас прекрасно знает о необходимости выпивать достаточное количество питьевой воды. Но, мало кто знает, какого она качества должна быть. Оптимальным вариантом является заказать бутилированную питьевую воду. Ведь качественная питьевая вода - это залог долголетия и красоты.",
      "img": "/img/food/water.png",
    },
    {
      "title": "Лучшие соки",
      "text": "Соки – просто незаменимый и доступный каждому из нас источник здоровья, красоты и энергии. Натуральный сок – это один из важнейших элементов здорового образа жизни. Соки играют огромную роль в укреплении иммунитета.",
      "img": "/img/food/juice.png",
      "imgSize": "_size_l",
    },
    {
      "title": "Газированные напитки",
      "text": "Люди по всему миру любят газированные напитки за их освежающий вкус и возможность утолить жажду. Мы предлагаем широкий выбор газированных напитков, в том числе без сахара, которые отвечают всем вашим пожеланиям.",
      "img": "/img/food/coke.png",
      "imgSize": "_size_s",
    },
    {
      "title": "Молоко и сливки",
      "text": "Исключительно важное значение молока в питании человека объясняется тем, что оно содержит все необходимые для жизни вещества. Сливки - превосходный источник энергии, великолепная добавка к кофе или к чаю. Нежный сливочный вкус сделает приятным любой ягодный десерт.",
      "img": "/img/food/milk.png",
      "imgSize": "_size_m",
    },
    {
      "title": "Сухие завтраки и снеки",
      "text": "В современном мире сухие завтраки пользуются огромной популярностью. Для многих они стали привычной утренней едой, поскольку вкусны и не требуют больших затрат времени на приготовление. Сухие завтраки - это не только удобно, но еще и очень полезно.",
      "img": "/img/food/cornflakes.png",
      "imgSize": "_size_xs",
    }
  ]

section.products
  .container
    .products__caption
      include ../section-name
      each item, index in products
        .products__block(class = index % 2 === 0 ? "" : "products__block_reverse")
          .products__caption= item.title
          p.products__text= item.text
          include ../simple-call-btn
          .products__img(class="products__img" + item.imgSize)
            img(src= item.img, alt= title)
      
  
