section.about-info
  .container
    .about-info__content
      .about-info__logo
        img(src="/img/big-logo.svg", alt="911office логотип")
      .about-info__info
        .about-info__caption Мы — компания 911office
        p.about-info__text
          | Начиная свою работу в 2012 году, компания выбрала
          | курс на предоставление высококачественных услуг и исключительного сервиса в сфере продажи кофе, кофейного оборудования и сопутствующих товаров. Данному курсу мы следуем и по сей день, что позволяет нам удовлетворять запросы самых разных клиентов — от домохозяек до крупных сетевых компаний.
        include ../contacts
        
