-
  var news = {
    "sections": [
      {
        "additionalNewsClass": "article__paragraph_with-img_column article__paragraph_with-img_center",
        "img": "/img/cleaning-products/img-1.jpg",
        "imgAltText": "Средства для чистки и обслуживания кофемашин",
        "paragraphs": [
          "Мы предлагаем средства для комплексной чистки и обслуживания кофемашин от отечественного бренда №1 <span class='bold'>CAFEDEM</span>"
        ]
      },
      {
        "title": "Жидкие средства",
        "paragraphs": [
          "<span class='bold'>Чистка рабочих групп кофемашины от кофейных (эфирных) масел. (G21)</span><br />Заварочный блок - (рабочая группа) кофемашины при интенсивной работе загрязняется частицами молотого кофе и его маслами. Эти загрязнения приводят к ухудшению качества кофе и сокращают срок работы кофемашины."
        ]
      },
      {
        "paragraphs": [
          "<span class='bold'>Декальцинация. (D22)</span><br />Средство очистки систем кофемашины от известкового налета и накипи, образующихся в процессе нагрева воды при приготовлении кофе."
        ]
      },
      {
        "paragraphs": [
          "<span class='bold'>Чистка молочной системы кофемашины. (М11)</span><br />Для кофемашин с автоматическими капучинаторами очень важной является чистота всех элементов системы, по которой подается молоко. Остатки молока в системе, не только снижают качество взбивания пены, но и могут служить источником бактериологического заражения продукта."
        ]
      },
      {
        "title": "Порошковые средства"
      },
      {
        "img": "/img/cleaning-products/img-d22.jpg",
        "imgAltText": "D22 Средство для удаления известкового налета",
        "paragraphs": [
          "<span class='bold'>D22 Средство для удаления известкового налета (Декальцинация)</span>",
          "<span class='bold'>Назначение</span> – Кислотное порошковое средство применяется для удаления известкового налета с бойлеров и нагревательных элементов кофемашин.",
          "<span class='bold'>Свойства</span> – Уникальная формула связанных органических кислот позволяют тщательно  и безвредно провести декальцинацию внутренней поверхности кофемашины, удаляя ржавчину, накипь, окислы, наросты и другие солевые и минеральные отложения.",
          "<span class='bold'>Упаковка</span> – порошок белого цвета, в банке 1 кг."
        ]
      },
      {
        "img": "/img/cleaning-products/img-g21.jpg",
        "imgAltText": "G21 Порошковое средство для очистки от кофейных масел",
        "paragraphs": [
          "<span class='bold'>G21 Порошковое средство для очистки от кофейных масел</span>",
          "<span class='bold'>Назначение</span> – Очистка автоматических кофемашин и различных дозирующих автоматов от кофейных масел.",
          "<span class='bold'>Свойства</span> – Обладают хорошими моющими и обезжиривающими свойствами. Эффективно удаляет труднорастворимые загрязнения, в том числе и остатки кофе, масел, воска, танинов.",
          "<span class='bold'>Упаковка</span> – порошок белого цвета, в банке 1 кг."
        ]
      },
      {
        "img": "/img/cleaning-products/img-m11.jpg",
        "imgAltText": "М11 Концентрированное средство для промывки молочных систем",
        "paragraphs": [
          "<span class='bold'>М11 Концентрированное средство для промывки молочных систем</span>",
          "<span class='bold'>Назначение</span> – Средство применяется для циркуляционной мойки молочных трубок кофемашин. Эффективно удаляет органические загрязнения, молочный камень.",
          "<span class='bold'>Свойства</span> – Однородная прозрачная жидкость прозрачного цвета со слабым специфическим запахом.",
          "<span class='bold'>Упаковка</span> – жидкость прозрачного цвета, в банке 1 литр."
        ]
      }
    ]
  };

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/news-mark
