-
  var news = {
    "sections": [
      {
        "img": "/img/ristora/img-1.jpg",
        "imgAltText": "PRONTOFOODS",
        "paragraphs": [
          "Представляем вашему вниманию растворимый горячий шоколад итальянского бренда <span class='bold'>PRONTOFOODS</span>."
        ]
      },
      {
        "paragraphs": [
          "Растворимый темный шоколад в банке Ristora Cioccolata In Tazza - это очень вкусный и ароматный напиток, известный по всему миру. Достоинствами итальянского горячего шоколада являются - почти моментальное растворение, отсутствие осадка и правильная консистенция.",
          "Существует два способа приготовления напитка из такого порошка - при помощи добавления горячей воды или молока. При первом методе напиток получает горчинку, а при втором - замечательный сливочный вкус.",
          "Горячий шоколад ценится не только за отличный вкус и аромат, но и за его полезность, которая проявляется при употреблении напитка в умеренных количествах. Такое качество обеспечивается благодаря наличию в его составе витаминов А, В1, С, Е, антиоксидантов, солей кальция и калия, а также флавоноидов."
        ]
      },
      {
        "img": "/img/ristora/img-2.jpg",
        "imgAltText": "PRONTOFOODS",
        "paragraphs": [
          "<span class='bold'>Растворимый горячий шоколад итальянского бренда PRONTOFOODS</span>",
          "<span class='bold'>Состав</span> – Сахар, обезжиренный какао, крахмал. Не содержит глютен.",
          "Ristora Cioccolata на каждый день – это ароматный горячий шоколад с насыщенным вкусом. Данный напиток создаёт шоколадную феерию в каждой чашке напитка.",
          "<span class='bold'>Бренд</span> – ProntoFoods",
          "<span class='bold'>Упаковка</span> – 1 банка весом 1 кг",
          "<span class='bold'>Тип</span> – Горячий шоколад",
          "<span class='bold'>Страна производитель</span> – Италия"
        ]
      }
    ]
  }

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/news-mark
