-
  var news = {
    "title": "Особенности новых автоматических кофемашин",
    "img": "/img/article/article-main-img.jpg",
    "sections": [
      {
        "paragraphs": [
          "В обновленный ассортимент нашего оборудования вошли машины, которые соответствуют желаниям большинства клиентов и их потребностям.",
          "Автоматическая кофемашина это современное высокотехнологичное устройство, которое используется для приготовления эспрессо и напитков на его основе в домашних условиях. Она отличается от профессиональной простотой эксплуатации и сравнительно невысокой ценой.",
          "Описание новых кофемашин начнем с уже полюбившейся многой модели - <span class='bold'>Saeco Lirika black</span> — удачное продолжение знаменитой линейки Royal. Машина претерпела ряд изменений, которые сделали ее более эргономичной, функциональной и удобной для пользования. Хотите ли вы насладиться чашечкой эспрессо или кофе лунго — для приготовления достаточно одного нажатия кнопки.",
          "<span class='bold'>Saeco Lirika</span> — автоматическая кофемашина для офисного и домашнего использования, разработанная для сегмента («Кафе.Бар.Ресторан») и офисов с большим потреблением кофе и высокими требованиями к качеству напитков.",
          "Интуитивно понятный дисплей позволит с легкостью приготовить вкуснейший кофе. Все необходимы настройки, а также съемные детали облегчают процесс очистки кофемашины <span class='bold'>Саеко Лирика</span> максимально комфортным."
        ]
      },
      {
        "img": "/img/new-coffee-machine/coffee-machine.png",
        "imgAltText": "Saeco Lirika",
        "paragraphs": [
          "<span class='bold'>Тип</span> – эспрессо, автоматическое приготовление",
          "<span class='bold'>Используемый кофе</span> – зерновой",
          "<span class='bold'>Тип нагревателя</span> – бойлер",
          "<span class='bold'>Мощность</span> – 1850 Вт",
          "<span class='bold'>Объем резервуара для воды</span> – 2,5 л",
          "<span class='bold'>Максимальное давление</span> – 15 бар",
          "<span class='bold'>Настройки</span> – контроль крепости кофе, регулировка порции горячей воды, предварительное смачивание, регулировка узла выдачи кофе по высоте; контейнер для отходов на 15 порций",
          "<span class='bold'>Возможность приготовления капучино</span> – есть, ручное приготовление",
          "<span class='bold'>Размеры (Ш*В*Г)</span> – 22x38x45 см",
          "<span class='bold'>Вес</span> – 8 кг"
        ]
      },
      {
        "paragraphs": [
          "За качество приготовления кофе в новой <span class='bold'>Saeco Lirika One Touch Cappuccino</span> отвечают керамические жернова – фирменное предпочтение . Многочисленные тестирования и дегустации, проводимые в компании, подтверждают высокие свойства этого материала для работы встроенных кофемолок: керамические жернова обеспечивают равномерный помол кофейных зерен, а также не позволяют им перегреваться.",
          "В кофемашине Saeco Lirika OTC сохранены все основные функции модельного ряда – регулировка помола кофе, температуры воды, крепости, объема чашки, а также запоминание напитков.",
          "<span class='bold'>Saeco Lirika OTC</span> позволяет приготовить не только кофе, но и чай, благодаря сменному диспенсеру для подачи горячей воды, который входит в комплектацию кофемашины.",
          "Новая кофемашина легко поддается уходу. Все детали вынимаются без усилий, а при мытье пластик не оставляет разводов."
        ]
      },
      {
        "img": "/img/new-coffee-machine/coffee-machine-2.jpg",
        "imgAltText": "Saeco Lirika One Touch Cappuccino",
        "paragraphs": [
          "<span class='bold'>Тип</span> – эспрессо, автоматическое приготовление",
          "<span class='bold'>Используемый кофе</span> – зерновой",
          "<span class='bold'>Тип нагревателя</span> – бойлер",
          "<span class='bold'>Мощность</span> – 1850 Вт",
          "<span class='bold'>Объем резервуара для воды</span> – 2,5 л",
          "<span class='bold'>Максимальное давление</span> – 15 бар",
          "<span class='bold'>Настройки</span> – контроль крепости кофе, регулировка порции горячей воды, предварительное смачивание, регулировка узла выдачи кофе по высоте; контейнер для отходов на 15 порций",
          "<span class='bold'>Возможность приготовления капучино</span> – есть, автоматическое приготовление",
          "<span class='bold'>Размеры (Ш*В*Г)</span> – 22x38x45 см",
          "<span class='bold'>Вес</span> – 8 кг"
        ]
      },
      {
        "paragraphs": [
          "<span class='bold'>Saeco Minuto</span> – единственная кофемашина в своей ценовой категории, которая позволяет легко и быстро приготовить капучино всего одним нажатием <span class='bold'>(модель HD8763)</span>.",
          "Для приготовления кофе можно установить индивидуальные настройки, в том числе одну из 5 степеней помола, температуру, объем напитка. Прибор запомнит единожды выбранные настройки, чтобы в дальнейшем можно было готовить такой напиток одним нажатием кнопки.",
          "В комплект модели <span class='bold'>HD8763</span> входит новый молочный графин: два отсека для взбивания гарантируют получение плотной, «правильной» пены, без брызг. Благодаря технологии Easy Refill пополнить графин можно, не вынимая его. Модель HD8763 оснащена керамическими жерновами, которые не дадут кофейным зернам подгореть.",
          "Съемную варочную группу можно вытащить одним нажатием, промыть под проточной водой и поместить обратно, благодаря автоматическим циклам очистки от накипи прибор прослужит дольше."
        ]
      },
      {
        "img": "/img/new-coffee-machine/coffee-machine-3.jpg",
        "imgAltText": "Saeco Minuto",
        "paragraphs": [
          "<span class='bold'>Тип</span> – эспрессо, автоматическое приготовление",
          "<span class='bold'>Используемый кофе</span> – зерновой/молотый",
          "<span class='bold'>Тип нагревателя</span> – бойлер",
          "<span class='bold'>Мощность</span> – 1850 Вт",
          "<span class='bold'>Объем резервуара для воды</span> – 1,8 л",
          "<span class='bold'>Максимальное давление</span> – 15 бар",
          "<span class='bold'>Настройки</span> – контроль крепости кофе, регулировка температуры кофе, регулировка порции горячей воды, предварительное смачивание, быстрый пар, регулировка степени помола",
          "<span class='bold'>Возможность приготовления капучино</span> – есть, автоматическое приготовление",
          "<span class='bold'>Размеры (Ш*В*Г)</span> – 22x33x43 см",
          "<span class='bold'>Вес</span> – 7,5 кг"
        ]
      },
      {
        "paragraphs": [
          "Традиционная автоматическая кофемашина <span class='bold'>Nuova Simonelli Appia II 2 Gr V</span> с подключением к водопроводу предназначена для приготовления кофе эспрессо и капучино. Оснащена двумя высокими термокомпенсированными группами, краном для подачи горячей воды и двумя паровыми кранами из нержавеющей стали с системой PUSH&PULL. Предусматривает автоматическую подачу кофе, горячей воды. Высота группы - 130 мм. Бойлер изготовлен из меди, основание и боковые панели - из матового чёрного ABS-пластика, задняя панель со вставкой из стали, рабочая поверхность - из нержавеющей стали.",
          "Кофемашина <span class='bold'>Nuova Simonelli Appia II 2 Gr V высокие группы</span> рекомендуется для профессионального применения на предприятиях общественного питания с большим числом посетителей, например, в кафе и ресторанах (как с контактной, так и с неконтактной барной стойкой) или в специализированных кофейнях."
        ]
      },
      {
        "img": "/img/new-coffee-machine/coffee-machine-4.jpg",
        "imgAltText": "Nuova Simonelli Appia II 2 Gr V",
        "paragraphs": [
          "<span class='bold'>Тип</span> – эспрессо, автоматическое приготовление",
          "<span class='bold'>Используемый кофе</span> – молотый",
          "<span class='bold'>Тип нагревателя</span> – бойлер",
          "<span class='bold'>Мощность</span> – 3200 Вт",
          "<span class='bold'>Объем резервуара для воды</span> – 11 л",
          "<span class='bold'>Настройки</span> – регулировка порции горячей воды, предварительное смачивание, быстрый пар",
          "<span class='bold'>Возможность приготовления капучино</span> – есть, ручное приготовление",
          "<span class='bold'>Размеры (Ш*В*Г)</span> – 78x53x54,5 см",
          "<span class='bold'>Вес</span> – 60 кг"
        ]
      },
      {
        "title": "Кофемолка FIORENZATO F 64 E",
        "paragraphs": [
          "Электронная кофемолка <span class='bold'>Fiorenzato F64E</span> используется в кофейнях, барах, ресторанах, офисах и предназначена для равномерного помола и дозировки порций молотого кофе.​ Модель оснащена сенсорным дисплеем с использованием технологии CapSense - для начала работы кофемолки достаточно легкого прикосновения. На дисплее отображается статистика работы кофемолки, а также процент влажности и температура."
        ]
      },
      {
        "img": "/img/new-coffee-machine/coffee-machine-5.jpg",
        "imgAltText": "Fiorenzato F64E",
        "paragraphs": [
          "<span class='bold'>Система помола</span> – жерновая",
          "<span class='bold'>Мощность</span> – 350 Вт",
          "<span class='bold'>Вместимость</span> – 1500 г",
          "<span class='bold'>Максимальная скорость вращения</span> – 1550 об/мин",
          "<span class='bold'>Особенности</span> – регулировка степени помола, жернова 64 мм, дозатор, счетчик порций",
          "<span class='bold'>Размеры (Ш*В*Г)</span> – 23x61.5x27 см см",
          "<span class='bold'>Вес</span> – 14 кг"
        ]
      },
      {
        "paragraphs": [
          "Наш ассортимент постоянно расширяется, в зависимости от ваших нужд. Мы всегда открыты предложениями и прислушиваемся к каждому клиенту.",
          "Спасибо, что вы с нами"
        ]
      }
    ]
  }

.article
  .container
    +news-intro(news)
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/news-mark
