extends ../templates/base

block variables 
  -
    var newsAndArticles = true;
    var backBtn = true;
    var backLink = "/news";
    var bodyClass = "internal-page";
    var firstSlideTitle = "Секреты правильного заваривания чая";
    var firstSlideDescr = "15 октября, 2018";
    var additionalFirstSlideClass = "first-slide_article";
  
block content
  include ../components/first-slide-small
  include ../components/news-components/news-paragraph
  include ../components/about-tea/news-body
  include ../components/info
