extends ../templates/base

block variables
  -
    var contacts = true;
    var btnUp = true;
    var additionalClass = "food";
    var firstSlideTitle = "Напитки<br />и закуски в офис";
    var orderCallTitle = "Привезём напитки и закуски на следующий день";
    var firstSlideDescr = "Наполним холодильники свежими соками, чистой водой, молоком. А полки для перекусов будут всегда радовать снеками и вкусными закусками.";
    var features = [
      {
        "icon": "/img/food/feature-1.svg",
        "name": "Вода",
        "href": "/supply",
      },
      {
        "icon": "/img/food/feature-2.svg",
        "name": "Соки",
        "href": "/supply",
      },
      {
        "icon": "/img/food/feature-3.svg",
        "name": "Напитки",
        "href": "/supply",
      },
      {
        "icon": "/img/food/feature-4.svg",
        "name": "Снеки",
      },
      {
        "icon": "/img/food/feature-4.svg",
        "name": "Молоко",
        "href": "/supply",
      },
      {
        "icon": "/img/food/feature-4.svg",
        "name": "Сухие завтраки",
      }
    ]
    
block content
  include ../components/first-slide
  -
    var sectionName = "каталог";
    var sectionTitle = "Выбирайте на свой вкус"
  include ../components/features
  include ../components/food/products
  include ../components/order-call
  include ../components/info
