extends ../templates/base

block variables
  -
    var btnUp = true;
    var coffeeModalBtn = true;
    var contacts = true;
    var additionalClass = "horeca";
    var firstSlideTitle = "Бесплатная аренда профессиональной кофемашины для HoReCa";
    var firstSlideDescr = "Платите только за кофе. От 10 рублей за кружку.";
    var firstSlideImg = "/img/intro-horeca.png";
    var firstSlideImgAlt = "Бесплатная аренда профессиональной кофемашины для HoReca";
    var sectionName = "это выгодно";
    var sectionTitle ="Платите только за кофе";
    var orderCallTitle = "Подберём кофейную смесь индивидуально под ваши вкусы";
    var features = [
      {
        "icon": "/img/coffee/feature-1.svg",
        "name": "Пользуйтесь бесплатно",
        "descr": "Аренда кофемашины — 0₽ при покупке от 5 кг кофе в месяц"
      },
      {
        "icon": "/img/coffee/feature-2.svg",
        "name": "38 сортов кофе",
        "descr": "Поставляем только лучшие сорта кофе свежей обжарки"
      },
      {
        "icon": "/img/coffee/feature-3.svg",
        "name": "Обслуживание бесплатно",
        "descr": "Техническое обслуживание, замена и ремонт по звонку"
      }
    ]
    
block content
  include ../components/horeca/descr-block
  include ../components/first-slide
  -
    var additionalClass = "coffee";
  include ../components/features
  include ../components/order-call
  -
    var sectionName = "простая эксплуатация и невысокая цена";
    var sectionTitle = "Автоматические кофемашины";
  include ../components/horeca/coffee-machines
  include ../components/reviews
  include ../components/info
  
