extends ../templates/base

block variables 
  -
    var newsAndArticles = true;
    var backBtn = true;
    var backLink = "/news";
    var bodyClass = "internal-page";
    var firstSlideTitle = "Новинки в ассортименте кофемашин";
    var firstSlideDescr = "18 сентября, 2018";
    var additionalFirstSlideClass = "first-slide_article";
  
block content
  include ../components/first-slide-small
  include ../components/news-components/news-intro
  include ../components/news-components/news-paragraph
  include ../components/new-coffee-machines/news-body
  include ../components/info
