extends ../templates/base

block variables
  -
    var additionalClass = "office";
    var orderCallTitle = "Готовы собрать заказ?";
    var contacts = true;
    var btnUp = true;
    var firstSlideTitle = "Канцелярские<br />товары";
    var firstSlideDescr = "Привезем все, что нужно для офиса: бумагу, ручки, степлеры, скрепки, стикеры, заправим картриджи";
    
    
block content
  include ../components/first-slide
  include ../components/office/catalog
  include ../components/order-call
  include ../components/info
