extends ../templates/base

block variables 
  -
    var newsAndArticles = true;
    var backBtn = true;
    var backLink = "/news";
    var bodyClass = "internal-page";
    var firstSlideTitle = "Растворимый горячий шоколад итальянского бренда PRONTOFOODS";
    var firstSlideDescr = "31 октября, 2018";
    var additionalFirstSlideClass = "first-slide_article";
  
block content
  include ../components/first-slide-small
  include ../components/news-components/news-intro
  include ../components/news-components/news-paragraph
  include ../components/ristora/news-body
  include ../components/info
