$main-font: 'Rubik', sans-serif;
$main-fz: 14px;

$main-font-color: #002B5D;

$rose: #F3084E;
$blue: #002B5D;
$gray-bg-color: #F6F7FA;
$gray-text-color: #91A1BB;
$darken-gray-bg-color: #F1F2F7;
$border-color: #E9EEF6;
