section.info
  .container
    .info__container
      if newsAndArticles 
        .info__block.info__block_size_m
          .info__content
            .info__caption Новости
            .info__news-content.news-slider
              each news in newsSlides
                div 
                  a(href= news.link).info__news-caption= news.title
                  p.info__news-text= news.text
          .info__footer
            a(href="/news") Смотреть все новости
        .info__block.info__block_size_m
          .info__content 
            .info__caption Статьи
            .info__articles-info__content
              ul.info__articles-list
                each article in articlesList
                  li
                    a(href= article.link)= article.title
          .info__footer
            a(href="/articles") Читать все статьи 
      if vk_groups
        .info__vk
          div#vk_groups
      if newsAndArticles || contacts
      .info__block.info__block_flex
        .info__col
          - var contactClass = "info__contacts";
          - var infoTitle = true;
          include ./contacts
          .info__footer
            a(href="/contact") Отправить сообщение
        .info__col 
          div#map.info__map
            script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae946bfdb48e6646cd33ee533b5122e81ae4109bfffa8dbdde04c5601fbe193ab&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
            
