-
  var sectionName = "Отзывы"
  var sectionTitle ="Что о нас говорят клиенты"
  
section.reviews
  .reviews__caption
    include ./section-name
  .reviews__slider.reviews-slider
    each review in reviewsSlides
      div
        if review.logo
          .reviews-slider__logo
            img(src="/img/index/" + review.logo, alt= review.author)
        .reviews-slider__descr
          .reviews-slider__company-name= review.author
          p.reviews-slider__text!= review.text
