-
  var news = {
    "sections": [
      {
        "paragraphs": [
          "За исключением некоторых сортов, которые готовятся самобытным образом, схема заваривания для разных видов чая содержит аналогичные этапы. Однако каждый из них имеет свои нюансы, которые необходимо учитывать для того, чтобы вкус и аромат чайного листа раскрылся наилучшим образом, а его ценные качества сохранились в полной мере."
        ]
      },
      {
        "title": "Черный чай",
        "img": "/img/about-tea/black-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Черный чай",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1 ч. л.",
          "<span class='bold'>Температура воды</span> – 85°C ~ 100°C.",
          "<span class='bold'>Время заваривания</span> 3-5 мин.",
          "<span class='bold'>Повторное заваривание</span> 2 раза.",
          "<span class='bold'>Особенности:</span><br />- Если вода жесткая, то можно увеличить расход заварки в 1,5-2 раза, но не время заваривания. Иначе напиток получится излишне горьким.<br />- Повторно заваривать можно только цельно-листовой черный чай."
        ]
      },
      {
        "title": "Зеленый чай, белый чай, жасминовый чай",
        "img": "/img/about-tea/green-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Зеленый чай, белый чай, жасминовый чай",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-2 ч. л.",
          "<span class='bold'>Температура воды</span> – 60°C ~ 85°C.",
          "<span class='bold'>Время заваривания</span> 1-3 мин.",
          "<span class='bold'>Повторное заваривание</span> 3-6 раз",
          "<span class='bold'>Особенности:</span><br />- С каждой следующей заваркой чай приобретает новый вкус.<br />- Холодные чаи на основе зеленого скорее вредны, чем полезны.<br />- Температура заваривания белого чая минимальна - 60°C ~ 70°C"
        ]
      },
      {
        "title": "Связанный чай",
        "img": "/img/about-tea/alt-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Связанный чай",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1 шарик",
          "<span class='bold'>Температура воды</span> – 80°C ~ 90°C.",
          "<span class='bold'>Время заваривания</span> 5-6 мин.",
          "<span class='bold'>Повторное заваривание</span> зависит от ингредиентов",
          "<span class='bold'>Особенности:</span><br />- Для того, чтобы насладится чудесным зрелищем раскрытия цветка, лучше использовать прозрачную посуду;<br />- В чайник сначала наливают воду, и только потом туда опускают фигурку, чтобы ее форма не была повреждена;<br />- Возможность повторного заваривания необходимо уточнять у продавца – есть чаи, где это категорически запрещено, а есть такие, где цветок раскрывается только после 2-3 заварки."
        ]
      },
      {
        "title": "Каркадэ",
        "img": "/img/about-tea/carcade.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Каркадэ",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-4 ч. л.",
          "<span class='bold'>Температура воды</span> – 0°C ~ 90°C.",
          "<span class='bold'>Время заваривания</span> от 5-6 мин до нескольких часов.",
          "<span class='bold'>Повторное заваривание</span> бессмысленно.",
          "<span class='bold'>Особенности:</span><br />- В случае заваривания каркадэ горячей водой около 90°C норма заварки 1-2 ч. л. Чем холоднее вода, тем больше нужно заварки и тем более длительное времени она настаивается.<br />- Отвар или настой можно не процеживать, а употреблять вместе с лепестками, поскольку они очень полезны.<br />- Металлическая посуда полностью убивает вкус напитка из каркадэ!<br />- Повторное заваривание бессмысленно, напиток получается водянистого синего цвета и не имеет ни вкуса, ни запаха, ни витаминов – он уже все отдал!"
        ]
      },
      {
        "title": "Красный китайский чай",
        "img": "/img/about-tea/red-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Красный китайский чай",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-2 ч. л.",
          "<span class='bold'>Температура воды</span> – 95°C ~ 100°C.",
          "<span class='bold'>Время заваривания</span> 2-7 мин.",
          "<span class='bold'>Повторное заваривание</span> — 3-4 раза.",
          "<span class='bold'>Особенности:</span><br />Обязательно слить первую воду (этап промывки)!"
        ]
      },
      {
        "title": "Фруктовый чай",
        "img": "/img/about-tea/fruit-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Фруктовый чай",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-2 ч. л.",
          "<span class='bold'>Температура воды</span> – 70°C ~ 100°C (в зависимости от основы чая).",
          "<span class='bold'>Время заваривания</span> 1-10 мин (в зависимости от основы чая).",
          "<span class='bold'>Повторное заваривание</span> — 2-3 раза.",
          "<span class='bold'>Особенности:</span><br />- Фруктовый чай без чайного листа не теряет своих свойств в холодном виде, его можно остужать прямо в заварнике и употреблять в качестве прохладительного напитка."
        ]
      },
      {
        "title": "Цветочный, травяной чай",
        "img": "/img/about-tea/flower-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Цветочный, травяной чай",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-2 ч. л.",
          "<span class='bold'>Температура воды</span> – 80°C ~ 100°C.",
          "<span class='bold'>Время заваривания</span> от 2-3 до 10-12 мин.",
          "<span class='bold'>Повторное заваривание</span> — от 2-3 до 6-7 раз.",
          "<span class='bold'>Особенности:</span><br />- Способ заваривания зависит от состава чая, поскольку для каждого растения дозировка, температура и время настаивания строго индивидуальны. Как правило, если в составе чая только листья и цветы, то достаточно 2-3 минут, семена и коренья – 10-12 минут.<br />- Чаи <span class='bold'>мате и ройбуш</span> заливаются на 6-7 минут очень горячей водой (90°C ~ 95°C) и выдерживают 5-7 повторных завариваний."
        ]
      },
      {
        "title": "Улун",
        "img": "/img/about-tea/oolong-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Улун",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-2 ч. л.",
          "<span class='bold'>Температура воды</span> – 85°C ~ 90°C.",
          "<span class='bold'>Время заваривания</span> 0,5-3 мин.",
          "<span class='bold'>Повторное заваривание</span> — 5-6 раз.",
          "<span class='bold'>Особенности:</span><br />- Если время настаивания даже незначительно увеличить, напиток начинает сильно горчить.<br />- Первая заварка улуна – самая короткая (30-40 с), каждая последующая на 5-10 с дольше."
        ]
      },
      {
        "title": "Пуэр",
        "img": "/img/about-tea/puer-tea.jpg",
        "additionalNewsClass": "article__paragraph_with-img_column",
        "imgAltText": "Пуэр",
        "paragraphs": [
          "<span class='bold'>Норма расхода на 200 мл</span> – 1-2 ч. л.",
          "<span class='bold'>Температура воды</span> – 85°C ~ 100°C.",
          "<span class='bold'>Время заваривания</span> 2-5 мин.",
          "<span class='bold'>Повторное заваривание</span> — 8-10 раз.",
          "<span class='bold'>Особенности:</span><br />- Промывка пауэра обязательна! Прессованный пауэр в «гнездах» необходимо предварительно поместить в холодную воду на 1-2 мин.<br />- Чем дольше выдерживался чай, тем горячее должна быть вода и больше время для его заваривания. Для шу (черного) пауэра температура 100°C, время 5 минут, для шен (зеленого) - 85°C и 2 минуты соответственно.<br />- Пуэр можно не только заваривать, но и варить. Самый простой рецепт – предварительно замоченный в холодной воде пауэр засыпать в только начинающую закипать воду (стадия «Рыбий глаз»), варить 1-2 минуты на сильном огне и после этого дать еще 2-3 минуты настояться.<br />- Если предварительно промытый шен пауэр залить холодной водой, то через 1-1,5 часа будет готов замечательный освежающий напиток."
        ]
      },
      {
        "paragraphs": [
          "Чай — уникальный напиток, по популярности своей едва ли отстающий от кофе. Желаем Вам приятного чаепития и отличного настроения!"
        ]
      }
    ]
  }

.article
  .container
    each section in news.sections
      +news-paragraph(section)
    include ../news-components/article-mark
