- 
  var sectionName = "Каталог";
  var sectionTitle = "38 сортов со всего мира";

section.catalog
  .container
    .catalog__caption
      include ../section-name
    .catalog__container
      .catalog__catalog-text
        | В нашем каталоге собраны лучшие сорта кофе. Специальная фольгированная упаковка с клапаном сохраняет аромат свежей обжарки.
      a(href="/catalog").btn Каталог
