.article__mark
  p
    | Наша компания предлагает профессиональные кофемашины (автоматические, рожковые, полуавтоматические, капельные) от проверенных итальянских брендов. В числе клиентов как крупные организации, так и физические лица. Звоните и заказывайте!
