.article__mark
  p
    | Компания Coffee Columb была основана в 2012 году. Направление – сервис, связанный с кофе. Фирма предлагает профессиональные кофемашины (автоматические, ручные, полуавтоматические, капельные) от проверенных итальянских брендов. В числе клиентов как крупные организации, так и физические лица. Звоните и заказывайте!
