-
  var sectionName = "Преимущества"
  var title ="Мы предлагаем лучшие условия"

section.features
  .container
    .features__caption
      include ../section-name
    .features__container
      each item in features
        .features__item
          .features__icon
            img(src="/img/index/" + item.icon, alt="Преимущество")
          .features__item-caption= item.name
          .features__descr= item.descr
