section.first-slide
  .container
    .first-slide__content
      h1 Всё для эффективной работы офиса
      p.first-slide__descr Самый ароматный кофе свежей обжарки, аппетитные снеки, вода и соки, бумага и другая канцелярская продукция с доставкой в офис.
      include ../call-modal
