-
  var sectionName = "Акция"
  var title ="Выгодное предложение"

section.offer
  .container
    .offer__caption
      include ../section-name
    .offer__container
      .offer__offer-text Пользуйтесь кофемашиной бесплатно
      a(href="/coffee").btn Подробнее
        
