- 
  var foodList = ["Вода и соки", "Фрукты", "Сэндвичи"]
  var officeProductList = ["Заправка картриджей", "Бумага и стикеры", "Степлеры и скрепки", "Ручки и карандаши", "И другое"]
  var sectionName = "Услуги"
  var title ="Доставим это в ваш офис"

section.service
  .container
    .service__caption
      include ../section-name
    .service__container
      .service__block.service__block_rose.service__block_width-100.service__block_flex
        .service__col
          .service__block-caption Кофемашина в&nbsp;офис за 0₽
          .service__descr
            | Платите только за кофе.<br />
            | От 10 рублей за кружку.
          a(href="/coffee").btn.btn_white.btn_blue-color Подробнее
        .service__col
          .service__img
            img(src="/img/index/coffee.png", alt="Кофемашина в офис")
      .service__block.service__block_white.service__block_size_m
        .service__block-caption.service__block-caption_blue Лёгкая еда
        .service__descr.service__descr_blue И напитки для офисных обедов
        ul.service__list
          for item in foodList
            li= item
        a(href="/food").btn Подробнее
        .service__img-food
          img(src="/img/index/food.png", alt="Лёгкая еда")
      .service__block.service__block_blue.service__block_size_s
        .service__block-caption.service__block-caption_small-font-size Канцеляркские товары
        ul.service__list
          for item in officeProductList
            li= item
        a(href="/office").btn.btn_white.btn_rose-color Подробнее
